@page "/TAR"
    <h3>WIN</h3>
    <h5>  После установки</h5>
    <h5>   VMTOOLS, если не установилось автоматом</h5>
    <h5>   1.Поменять имя пк</h5>
    <h5>    2.Вырубить брандмауэр (возможно просто вырубив защитник)</h5>
    <h5>  netsh</h5>
    <h5>   firewall set opmode disable</h5>
    <h5>  3.Поставить статику</h5>
    <h5>   *необязательно, но чтоб удобнее</h5>
    <h5>  4.Параметры контроля доступа учетных записей</h5>
    <h5>   5.Спящий режим</h5>
    <h5>   6.Убрать слежку, для большей производительсности</h5>
    <h5>   *для сервера</h5>
    <h5>    7.Убрать автозапуск диспетчера серверов</h5>
    <h5>    8.Основная раскладка английская</h5>
    <h5>   9.shortcut local secpol.msc</h5>
    <h5>   10.regedit</h5>
    <h5>    11.gpedit.msc local</h5>
    <h5>    Конфиг ПК, администрирование шаблонами, система, вход в систему (экран приветствия)</h5>
    <h5>   Конфиг ПК, администрирование, панель управления, персонализации</h5>
    <h3>
        linux</h3>
        <h5>    #####apt install open-vm-tools(не обязательно)#####</h5>
        <h5>    apt-cdrom add</h5>
        <h5>    1.ip a - чек все сетевые карты</h5>
        <h5>    2.nano /etc/network/interfaces</h5>
        <h5>    3. systemctl restart networking/.service - рестрат службы</h5>
        <h5>  #####4.hostname *имя/hostnamectl set-hostname usver, nano /etc/hosts(поменять имя хоста на новое)</h5>
        <h5>     Shutdown -h now(вырубить пека)</h5>
        <h5>     reboot#####</h5>
        <h5>    6.apt install isc-dhcp-server -y</h5>
        <h5>    7./etc/default/isc-dhcp-server -> ens*</h5>
        <h5>     8.cd /etc/dhcp</h5>
        <h5>     cp dhcpd.conf dhcpd.conf.bak</h5>
        <h5>      9.nano /etc/dhcp/dhcpd.conf</h5>
        <h5>     10.apt install bind9 net-tools dnsutils cifs-utils</h5>
        <h5>     12.nano /etc/bind/named.conf.default-zones</h5>
        <h5>     13.(/etc/bind)cp db.local taras365.net</h5>
        <h5>    14.(/etc/bind)nano taras365.net</h5>
        <h5>    15.(/etc/bind)cp db.127 192</h5>
        <h5>    nano 192 (задом наперед)</h5>
        <h5>    16.*назначение прав*chown bind:bind /etc/bind/taras365.net</h5>
        <h5>    chown bind:bind /etc/bind/192</h5>
        <h5>    17.systemctl restart bind9/systemctl status</h5>
        <h5>    18.nano /etc/resolv.conf</h5>
        <h5>    19.nano /etc/systemd/resolved.conf</h5>
        <h5>    20.systemctl enable/status/restart systemd-resolved.service</h5>
        <h3>
            ________pereshel na client______________
        </h3>
        <h5>     nano /etc/network/interfaces</h5>
        <h5>     auto ens33</h5>
        <h5>   iface ens 33 inet dhcp</h5>
        <h5>   21.apt install isc-dhcp-client</h5>
        <h5>   22.nano /etc/hosts</h5>
        <h5>    Закомментировать все</h5>
        <h3>
            ______________samba__________________
        </h3>
        <h5>    Apt install samba</h5>
        <h5>    Nano /etc/samba/smb.conf</h5>
        <h5>[Share] </h5>
        <h5>Browseable = yes </h5>
            <h5>Path = /etc/share </h5>
            <h5>Read only = no </h5>
            <h5>Create mask= (755 чтение)(777 фул доступ)(711 ток исполнение) </h5>
            <h5>Chmod 777 /etc/share </h5>
            <h5>    apt install postfix</h5>
            <h5>    Mkdir /etc/share</h5>
            <h5>   Systemctl restart smbd.service</h5>
            <h5>   Chmod 777 /etc/share</h5>
            <h5>    Useradd Rab</h5>
            <h5>     Passwd Rab</h5>
            <h5>    (Apt install smbclient) user</h5>
