@page "/Windows"
@attribute [Authorize]
<ul>
    <li>
        <NavLink class="nav-link" href="Windows/AD">
            Настройка домена
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="Windows/User">
            Генераторы пользователей
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="Windows/GPOConfigure">
            Настройщик групповых политик
        </NavLink>
    </li>
</ul>